# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
nobel/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo